<div style="height:45px;">
	<div class="head_wrapper">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-6 col-md-6">
					<div class="pull-left">
						<span class="website_logo"></span>
	                </div>
	    		</div>
	    		<div class="col-lg-6 col-md-6">
					<div class="pull-right">
						<div class="btn-group btn-group-xs">
							#if($user)
	        					<button id="user-name-top" type="button" class="btn btn-xs btn-link" style="font-size:14px;">
	    							<span class="glyphicon glyphicon-user"></span>
									#if(${user.nickname})${user.nickname}#else${user.account}#end
									<div class="list-group sr-only">
									  <a href="#" class="list-group-item">个人中心</a>
									  <a href="#" class="list-group-item">意见反馈</a>
									  <a href="#" class="list-group-item">注销登录</a>
									</div>
	                            </button>
	    					#else
								<a href="${springPath}/login" style="display:inline-block;">
	    							<button type="button" class="btn btn-xs btn-link" style="font-size:14px;">登录</button>
								</a>
								<span class="divider" style="line-height:1.5;">|</span>
								<a href="${springPath}/register" style="display:inline-block;">
	    							<button type="button" class="btn btn-xs btn-link" style="font-size:14px;">注册</button>
								</a>
							#end
						</div>
	                </div>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>