#parse("include/common.vm")
<div class="topic">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-6 col-md-6">
				<div class="left">
					<span class="website_logo"></span>
                </div>
    		</div>
    		<div class="col-lg-6 col-md-6">
				<div class="right">
					<div class="btn-group btn-group-xs">
						#if($user)
        					<button type="button" class="btn btn-xs btn-link" style="font-size:14px;">
    							<span class="glyphicon glyphicon-user"></span>
								#if(${user.nickname})${user.nickname}#else${user.account}#end
                            </button>
    					#else
							<a href="${springPath}/login">
    							<button type="button" class="btn btn-xs btn-link" style="font-size:14px;">登录</button>
							</a>
							<span class="divider" style="line-height:1.5;">|</span>
							<a href="${springPath}/register">
    							<button type="button" class="btn btn-xs btn-link" style="font-size:14px;">注册</button>
							</a>
						#end
					</div>
                </div>
    		</div>
    	</div>
    </div>
</div>
<div class="topicPosition">
	
</div>