<!DOCTYPE html>
<html>
	<head>
		<title>我的报案记录</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css"/>
        <link rel="stylesheet" href="${springPath}/static/css/weixin/myRecord.css"/>
	</head>
	<body ng-app="myApp" ontouchstart>
		<!--常用链接地址隐藏域-->
		<div style="display:none;">
			<input type="hidden" id="wxResource" value="${wxResource}"/>
        </div>
		
		<div ui-view></div>
		
		<div ng-controller="myCtrl" class="myCtrl">
			<div ng-repeat="page in pages" class="page">
    			<div class="weui-panel" ng-repeat="info in page.list">
                    <div class="weui-panel__hd" ng-bind="formatterTime(info.occurrenceTime)"></div>
                    <div class="weui-panel__bd" ng-click="detail(info);">
                        <div class="weui-media-box weui-media-box_text weui-cell weui-cell_access">
							<div class="weui-cell__bd">
								<h4 class="weui-media-box__title" title="{{info.position}}" 
    								ng-init="info.position='获取中，请稍候...';formatterPosition(info)" ng-bind="info.position"></h4>
                                <p class="weui-media-box__desc" ng-bind="info.duty || '无事故责任描述'"></p>
                            </div>
							<div class="weui-cell__ft" style="font-size: 0">
								<span ng-show="info.imgreuploadIndex != info.imgreuploadedIndex"
									class="weui-badge weui-badge_dot" style="margin-left: 5px;margin-right: 5px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="weui-loadmore" ng-show="infosLoading">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在加载...</span>
            </div>
			
			<div class="weui-loadmore weui-loadmore_line" ng-show="noMoreData">
                <span class="weui-loadmore__tips">无更多数据</span>
            </div>
			
			<a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link center" 
				ng-click="loadPage(pageNum)" ng-hide="noMoreData || infosLoading">
                <div class="weui-cell__bd">查看更多</div>
            </a>
        </div>
		
		<script type="text/ng-template" id="detail.html">
			<div class="detailDiv">
    			<div class="weui-form-preview">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事件时间</label>
                            <span class="weui-form-preview__value" ng-bind="formatterTime(info.occurrenceTime)"></span>
                        </div>
                    </div>
    				<div class="weui-form-preview__hd"></div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事件地点</label>
                            <span class="weui-form-preview__value" ng-bind="info.position"></span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">事故责任</label>
                            <span class="weui-form-preview__value" ng-bind="info.duty"></span>
                        </div>
                        <div class="weui-form-preview__item" style="display:none;">
                            <label class="weui-form-preview__label">事故描述</label>
                            <span class="weui-form-preview__value" ng-bind="info.description"></span>
                        </div>
                    </div>
                </div>
    			
    			<br/>
    			<div class="weui-form-preview">
    				<div ng-repeat="jsyxx in info.jsyxxs">
                        <div class="weui-form-preview__bd">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label"><span ng-bind="jsyxxIndex($index)"></span>方姓名</label>
                                <span class="weui-form-preview__value" ng-bind="jsyxx.name"></span>
                            </div>
                        </div>
        				<div class="weui-form-preview__hd"></div>
                        <div class="weui-form-preview__bd bottom_line">
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">号牌号码</label>
                                <span class="weui-form-preview__value" ng-bind="jsyxx.hphm"></span>
                            </div>
                            <div class="weui-form-preview__item">
                                <label class="weui-form-preview__label">联系方式</label>
                                <span class="weui-form-preview__value" ng-bind="jsyxx.contact"></span>
                            </div>
                        </div>
    				</div>
    			</div>
    			
    			<br/>
    			<div class="weui-form-preview">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item" style="margin-bottom:5px;">
                            <label class="weui-form-preview__label">事故图片</label>
							
							<span class="weui-cells__ft union-btn" ng-init="editUploder=false" ng-hide="editUploder || addImgCnt==0" 
            					ng-click="editUploder=!editUploder">
            					<span class="weui-icon-modify_sm"></span>编辑
            				</span>
            				
            				<span class="weui-cells__ft union-btn" ng-hide="!editUploder" 
            					ng-click="editUploder=!editUploder">
            					<span class="weui-icon-success_sm"></span>完成
            				</span>
                        </div>
                        <div class="weui-form-preview__item">
    						<div ng-show="imgUrls.length==0"></div>
    						<div class="weui-cell__bd" ng-show="xxtps.length>0">
    							<div class="weui-uploader">
    								<div class="weui-uploader__bd">
    									<ul class="weui-uploader__files">
    										<li class="weui-uploader__file uploaderFile" 
												ng-class="{
													'weui-uploader__file_status':!xxtp.uploadSuccess || xxtp.errPic,
													'shake-little': editUploder && xxtp.newUpload}"
        										ng-repeat="xxtp in xxtps" 
        										ng-click="picClick($index)"
        										ng-style="{'background-image':'url('+ (xxtp.iosUploadUrl || xxtp.uploadUrl)+')'}">
    										<div ng-hide="editUploder">
                                                <div ng-hdie="xxtp.uploadSuccess" class="weui-uploader__file-content">
                                                    <i ng-show="xxtp.uploadError && !xxtp.uploadWaiting" class="weui-icon-warn"></i>
                                                    <i ng-show="xxtp.uploadWaiting" class="weui-loading"></i>
                                                </div>
                                            </div>
											<div ng-show="xxtp.errPic">
												<div class="weui-uploader_file-errPic">无&nbsp;效</div>
											</div>
    										<div class="deleteUploadDiv" ng-show="editUploder && xxtp.newUpload"
												ng-click="deletePic($event, $index)">
    											<span class="weui-icon-delete1_sm deleteUpload"></span>
                                            </div>
                                        </li>
										
                                        <div class="weui-uploader__input-box" ng-hide="addImgUrl.length == addImgCnt || editUploder">
                                            <input class="weui-uploader__input"
        										type="button" accept="image/*" multiple="" ng-click="uploadImgLocal()">
                                        </div>
                                    </div>
                                </div>
                                <div class="weui-uploader__ft" ng-show="addImgCnt>0" style="color:red;">
    								<input ng-model="xxtps.length" type="hidden" name="xxtpNum"/>
    								<div class="weui-textarea-counter">
                                        <span style="float:left;">还需上传<span ng-bind="addImgCnt-addImgUrl.length"></span>张图片</span>
        								<span ng-bind="addImgUrl.length"></span>/{{addImgCnt}}
    								</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    			
    			<br/>
    			
    			<div class="weui-form-preview">
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item" style="margin-bottom:5px;">
                            <label class="weui-form-preview__label">事故语音</label>
                        </div>
                        <div class="weui-form-preview__item">
							<div ng-show="voiceUrls.length==0" style="text-align:left;">
								未上传事故语音
                            </div>
    						<div ng-repeat="voice in voiceUrls" class="voice arrowLeft">
    							<div class="arrow"><em></em></div>
                                <div class="voiceDiv" ng-style="voiceStyle(voice.duration);" 
    								ng-class="{'playing':voice.playing}" 
    								ng-click="voiceClick('voice'+$index);"></div>
    							<span class="voiceDuration">
    								<span ng-show="voice.cache"><span ng-bind="voice.duration"></span>"</span>
    								<span ng-show="!voice.cache"></span>
    							</span>
                                <audio id="voice{{$index}}" controls="controls" hidden="true" 
    								ng-src="{{sce(voice.voiceUrl)}}" ng-bind="loadingVoice(voice,'voice'+$index);"></audio>
    						</div>
                        </div>
                    </div>
                </div>
				
    			<div class="weui-btn-area" ng-show="addImgCnt>0">
        			<a href="javascript:;" class="weui-btn weui-btn_primary" 
    					ng-init="submitting=false;submitted=false;" 
    					ng-class="{'weui-btn_disabled':(submitted || submitting || addImgUrl.length<addImgCnt)
    						,'weui-btn_loading':submitted}" 
    					ng-disabled="submitted || submitting || addImgUrl.length<addImgCnt" 
    					ng-click="submit()"> 
    					<i class="weui-loading" ng-show="submitting"></i>
    					<span ng-if="submitted">已提交</span>
    					<span ng-if="submitting">正在提交...</span>
    					<span ng-if="!(submitted || submitting)">提交</span>
    				</a>
                </div>
            </div>
        </script>
		
		<script src="${springPath}/static/js/weixin/zepto.min.js"></script>
		<script src="${springPath}/static/plugins/angularJS/angular.min.js"></script>
        <script src="${springPath}/static/plugins/angularJS/angular-ui-router.js"></script>
		<script src="${springPath}/static/plugins/angularJS/angular-validation.js"></script>
		<script src="${springPath}/static/plugins/angularJS/angular-validation-rule.js"></script>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script src="http://map.qq.com/api/js?v=2.exp"></script>
		<script src="${springPath}/static/js/common/util.js"></script>
		<script src="${springPath}/static/js/common/wx-common.js"></script>
		<script src="${springPath}/static/js/weixin/myRecord.js?a=1csa10"></script>
	</body>
</html>