<!DOCTYPE html>
<html>
	<head>
		<title>快处快赔测试页面</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css"/>
        
	</head>
	<body ontouchstart>
		
		
		
		<script src="${springPath}/static/js/weixin/zepto.min.js"></script>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
	</body>
</html>