@CHARSET "UTF-8";

/*随手拍后台管理标题框*/
.maintitleDiv{
	background: url("../../img/wfjlgl/KDZNlogo.png") left no-repeat;
	background-color:#3E7FB6;
	width:100%;
	height:45px;
}
/*随手拍列表标题框*/
.lbtitleDiv{
	background: #3E7FB6;
	width:100%;
	height:35px;
}
/*背景颜色*/
.main-top{
	background-color: #EFEFEF;
}
/*第一级div样式*/
.wholessp-div {
	color: #51555C;
	background:#f9f9f9; 
}

/*随手拍列表div样式*/
.main-top1 {
	/* background-color:#E6F0ED;  */
	background-color:#FFFFFF; 
}


/*查询条件div*/
#dataGrid {
	background-color: white;

	border-bottom:3px solid #F1F1F1;

}

/*时间字体样式*/
.pageTime {
	height:35px;
	line-height:35px;
	font-size:15px;
	font-weight:bold;
	color:#51586c;
	text-align:center;
	margin:0 auto;
	width:300px;
	font-family: "Microsoft Yahei", 微软雅黑, Arial;

}

#jssj {
	background: url("../../img/wfjlgl/calendar.png") right repeat-y;
	
}

#kssj {
	background: url("../../img/wfjlgl/calendar.png") right repeat-y;
	
}

#wfjbSearchBtn {
	background-color: #3E7FB6;
}

#wfjbSearchBtn:hover {
	background-color: #3671c9;
	
}



/* sticky样式 */
div.sticky	{
	padding:0px;
	height:65px;
	line-height:65px;
}
	
/* sticky样式 */
div.sticky-note{
	padding-left:60px;
}	

.pageBigTitle{
	height:45px;
	line-height:45px;
	font-size:20px;
	font-weight:bold;
	color:#ffffff;
	margin-left: 50px;
	width:300px;
	font-family: "Microsoft Yahei", 微软雅黑, Arial;
}





