body,html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    background-color: #f8f8f8;
}

.bodyInVoice{
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

input[name^="jsyxxHphm"]{
	text-transform:uppercase;
}

.forRst{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background-color: #fff;
}

.formInValidErrorMsg{
	position: fixed;
	top: 0px;
	line-height: 45px;
	background-color:#E5433F;
	color: #fff;
	font-size: 16px;
	z-index: 1000;
	width: 100%;
	text-align: center;
} 

form[name='registerForm']{
	margin-top: 10px;
}

.weui-uploader__bd{
/* 	margin-right: 0px; */
	min-height: 30px;
}

.uploaderFile{
	border-radius: 5px;
}

.uploaderFile:before{
	border-radius: 5px;
}

.uploaderFile_voice{
	background-image: url("../../img/weixin/voice.svg");
	background-size: cover;
	border: 1px solid #d9d9d9;
}

.uploaderFile_voice.playing{
	background-image: url("../../img/weixin/voice_play.svg");
	background-size: cover;
}

.page__ft{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}

.weui-cells__ft{
	float: right;
}

.weui-icon-position{
	display: inline-block;
	height: 23px;
	width: 23px;
	font-size: 23px;
	margin: 0px 0.2em;
	background-image: url("../../img/weixin/position.png");
	background-size: 100%;
}

.weui-icon-add_sm{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../../img/weixin/add_sm.png");
	background-size: 100%;
	margin-right: 2px;
}

.weui-icon-delete_sm{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../../img/weixin/delete_ms.png");
	background-size: 100%;
	margin-right: 2px;
	margin-top: -2px;
}

.weui-icon-success_sm{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../../img/weixin/success1_ms.png");
	background-size: 100%;
	margin-right: 2px;
	margin-top: -2px;
}

.weui-icon-delete1_sm{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../../img/weixin/delete1_ms.png");
	background-size: 100%;
	margin-right: 2px;
	margin-top: -2px;
}

.weui-icon-modify_sm{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url("../../img/weixin/modify_ms.png");
	background-size: 100%;
	margin-right: 2px;
	margin-top: -2px;
}

.weui-uploader__voice-box{
	margin-bottom: 9px;
	margin-right: 9px;
	clear: both;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.weui-icon_toast.weui-icon-voice:before {
    
}

.weui-icon-voice{
	height: 55px;
	background-image: url("../../img/weixin/voice1.svg");
	background-size: cover;
	width: 55px;
	margin: 22px auto 0;
}

.icon_xzjsy{
	margin-left: 0px;
}

input.position{
	color: rgba(0, 0, 0, 0.6);
}

input.position.positionFail{
	color: #586c94;
}

div.deleteUploadDiv{
    position: absolute;
    right: 0em;
    top: -.2em;
    padding: 4px;
}

span.deleteUpload{
    margin-top: 0px;
    margin-right: 0px;
}

A.addJsy{
	display: inline-block;
}

.union-btn{
	cursor: pointer;
	color: #586c94;
}

.shake-little{
    animation-name: shake-little;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.inVoiceBtn:not(.weui-btn_disable){
	color: rgba(0,0,0,.6);
	background-color: #DEDEDE;
}

@keyframes shake-little {
    2% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    4% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    6% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    8% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    10% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    12% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    14% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    16% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    18% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    20% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    22% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    24% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    26% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    28% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    30% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    32% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    34% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    36% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    38% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    40% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    42% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    44% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    46% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    48% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    50% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    52% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    54% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    56% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    58% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    60% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    62% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    64% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    66% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    68% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    70% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    72% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    74% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    76% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    78% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    80% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    82% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    84% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    86% {
        transform: translate(0px, 1px) rotate(.5deg)
    }

    88% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    90% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    92% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    94% {
        transform: translate(0px, 0px) rotate(.5deg)
    }

    96% {
        transform: translate(1px, 1px) rotate(.5deg)
    }

    98% {
        transform: translate(1px, 0px) rotate(.5deg)
    }

    0%,100% {
        transform: translate(0, 0) rotate(0)
    }
}


