<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csy.module.wx.dao.BDriverInfoMapper" >
  <resultMap id="BaseResultMap" type="com.csy.module.wx.entity.BDriverInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="IDCard" property="idcard" jdbcType="VARCHAR" />
    <result column="vehicleLicense" property="vehiclelicense" jdbcType="VARCHAR" />
    <result column="hphm" property="hphm" jdbcType="VARCHAR" />
    <result column="IDCardImage" property="idcardimage" jdbcType="VARCHAR" />
    <result column="vehicleLicenseImage" property="vehiclelicenseimage" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, IDCard, vehicleLicense, hphm, IDCardImage, vehicleLicenseImage, contact
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.csy.module.wx.entity.BDriverInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from b_driver_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_driver_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b_driver_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.csy.module.wx.entity.BDriverInfoExample" >
    delete from b_driver_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.csy.module.wx.entity.BDriverInfo" >
    insert into b_driver_info (id, name, IDCard, 
      vehicleLicense, hphm, IDCardImage, 
      vehicleLicenseImage, contact)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{vehiclelicense,jdbcType=VARCHAR}, #{hphm,jdbcType=VARCHAR}, #{idcardimage,jdbcType=VARCHAR}, 
      #{vehiclelicenseimage,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csy.module.wx.entity.BDriverInfo" >
    insert into b_driver_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="idcard != null" >
        IDCard,
      </if>
      <if test="vehiclelicense != null" >
        vehicleLicense,
      </if>
      <if test="hphm != null" >
        hphm,
      </if>
      <if test="idcardimage != null" >
        IDCardImage,
      </if>
      <if test="vehiclelicenseimage != null" >
        vehicleLicenseImage,
      </if>
      <if test="contact != null" >
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="vehiclelicense != null" >
        #{vehiclelicense,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null" >
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="idcardimage != null" >
        #{idcardimage,jdbcType=VARCHAR},
      </if>
      <if test="vehiclelicenseimage != null" >
        #{vehiclelicenseimage,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.csy.module.wx.entity.BDriverInfoExample" resultType="java.lang.Integer" >
    select count(*) from b_driver_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update b_driver_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null" >
        IDCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.vehiclelicense != null" >
        vehicleLicense = #{record.vehiclelicense,jdbcType=VARCHAR},
      </if>
      <if test="record.hphm != null" >
        hphm = #{record.hphm,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardimage != null" >
        IDCardImage = #{record.idcardimage,jdbcType=VARCHAR},
      </if>
      <if test="record.vehiclelicenseimage != null" >
        vehicleLicenseImage = #{record.vehiclelicenseimage,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update b_driver_info
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      IDCard = #{record.idcard,jdbcType=VARCHAR},
      vehicleLicense = #{record.vehiclelicense,jdbcType=VARCHAR},
      hphm = #{record.hphm,jdbcType=VARCHAR},
      IDCardImage = #{record.idcardimage,jdbcType=VARCHAR},
      vehicleLicenseImage = #{record.vehiclelicenseimage,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.csy.module.wx.entity.BDriverInfo" >
    update b_driver_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        IDCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="vehiclelicense != null" >
        vehicleLicense = #{vehiclelicense,jdbcType=VARCHAR},
      </if>
      <if test="hphm != null" >
        hphm = #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="idcardimage != null" >
        IDCardImage = #{idcardimage,jdbcType=VARCHAR},
      </if>
      <if test="vehiclelicenseimage != null" >
        vehicleLicenseImage = #{vehiclelicenseimage,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csy.module.wx.entity.BDriverInfo" >
    update b_driver_info
    set name = #{name,jdbcType=VARCHAR},
      IDCard = #{idcard,jdbcType=VARCHAR},
      vehicleLicense = #{vehiclelicense,jdbcType=VARCHAR},
      hphm = #{hphm,jdbcType=VARCHAR},
      IDCardImage = #{idcardimage,jdbcType=VARCHAR},
      vehicleLicenseImage = #{vehiclelicenseimage,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 自定义开始 -->
  
  <insert id="insertPatch" parameterType="java.util.List">
   insert into b_driver_info(id, name, IDCard, vehicleLicense, hphm, IDCardImage, vehicleLicenseImage, contact)
   values
   <foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
   	#{item.id},
   	#{item.name},
   	#{item.idcard},
   	#{item.vehiclelicense},
   	#{item.hphm},
   	#{item.idcardimage},
   	#{item.vehiclelicenseimage},
   	#{item.contact}
   </foreach>
  </insert>
  <select id="selectById" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from b_driver_info
    where id = #{id,jdbcType=VARCHAR}
    <if test="hphm!=null and hphm!=''" >
       and hphm like concat(concat('%',#{hphm,jdbcType=VARCHAR}),'%')
    </if>
  </select>
  
  <select id="selectDriversByAccidentID" resultType="com.csy.module.wx.entity.BDriverInfo">
  	select 
  	<include refid="Base_Column_List" />
  	from b_driver_info
  	where id in (select fk_driver_id from b_accident_driver where id = #{id, jdbcType=VARCHAR})
  </select>
  	
</mapper>