@CHARSET "UTF-8";


.nav-warpper-container{
	position: fixed;  
	margin: 0 auto;  
	left: 0;  
	right: 0;
}

#profilespy{
	padding: 0px;
	top: 20px;
}

.nav-warpper{
	float: right;
	padding: 0px;
	width: 100%;
	max-width: 180px;
}

.nav.nav-pills{
	padding: 0px;
	width: 100%;
	background-color: #F7F7F7;
}

.main{
	margin-top: -45px;
}

.main-content{
	background-color: #fff;
	z-index: 2;
}

.section{
	padding-top: 45px;
	
}

.section:first-child{
	padding-top: 65px;
}

.section .page-header{
	margin: 0px;
}

.section .page-header h3{
	margin: 0px;
}

.nav-stacked > li + li{
	margin-top: 0px;
}

.nav>li:first-child>div.list-head{
	border-top-style: solid;
}

.nav>li>div.list-head{
	font-size: 14px;
	border-radius: 0px;
	color: #666;
	border-width: 1px;
	border-style: none solid none solid;
	border-color: #ddd;
	font-weight: bold;
    padding: 10px 15px;
}

.nav>li.active>div.list-head{
	background-color: #F7F7F7;
	color: #666;
	border-left-width: 4px;
	border-left-color: #FA7D3C;
}

.nav>li.active>div.list-head>span{
	color: #FA7D3C;
}

.nav li ul{
	padding-left: 0px;
}

.nav li ul li.list-group-item{
	border-radius: 0px;
	border-width: 1px;
	background-color: #F7F7F7;
}

.nav li ul li.list-group-item.active{
	border-right-width: 0px;
	background-color: #fff;
	border-color: #ddd;
}

.nav li ul li.list-group-item a{
	padding-left: 14px;
	color: #666;
}

.nav li ul li.list-group-item a>span{
	color: #F7F7F7;
}

.nav li ul li.list-group-item.active a>span{
	color: #FA7D3C;
}

.nav li ul li.list-group-item a:hover{
	text-decoration: none;
}

.nav li ul li.list-group-item a:focus{
	text-decoration: none;
	outline: none;
}

#person-detail-form .radio-inline{
	margin-right: 20px;
}

